<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
    <tr>
        <td><a href="{% url 'Hotel:my_pros' %}">Profile</a></td>
    </tr>
    <tr>
         <td><a href="{% url 'Hotel:roomInsertSelect' %}">RoomDetails</a></td>
    </tr>
    <tr>
        <td><a href="{% url 'Hotel:HotelFacilitiesInsertSelect' %}">Hotel Facilities</a></td>
    </tr>
    <tr>
        <td><a href="{% url 'Hotel:MealPackagesInsertSelect' %}">Meal Packages</a></td>
    </tr>
    <tr>
        <td><a href="{% url 'Hotel:TourPackagesInsertSelect' %}">Tour Packages</a></td>
    </tr>
</table>
</body>
</html>