{% extends 'Hotel/Header.html' %}
{% load static %}
{% block content %}




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Place</title>
</head>
<body>

    <form method="POST">
        {% csrf_token %}
        <table align="center">
                <tr>
                    <td>Facility Name</td>
                    <td><input type="text" name="txtfacility" placeholder="Enter Facility" required value="{{editdata.hotelfacility_name}}"></td>
                </tr>
                
                <tr>
                <td colspan="2" align="center">
                    <input type="submit" name="btnsubmit" value="Save">
                    <input type="reset" name="btncancel" value="Cancel">
                </td>
            </tr>
        </table>
    </form>

    <table border="1" align="center" cellpadding="10">
        <tr>
            <th>Sl.No</th>
            <th>Facility Name</th>
            
            <th>Action</th>
        </tr>
        {% for i in data %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.hotelfacility_name}}</td>
            <td><a href="{% url 'Hotel:delHotelFacilities' i.id %}">Delete</a></td>
        </tr>
        {% endfor %}

    </table>

</body>
</html>


{% endblock content %}