<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}

        <table border="1">
            <tr>
                <td>Number1</td>
                 <td><input type="number" name="num_FirstValue"></td>
            </tr>
            <tr>
                 <td>Number2</td>
                 <td><input type="number" name="num_SecondValue"></td>
            </tr>
            <tr>
                <td colspan="4" align="center">
                        <input type="submit" name="btnAdd" value="Add">
                        <input type="submit" name="btnAdd" value="Sub">
                        <input type="submit" name="btnAdd" value="Multi">
                        <input type="submit" name="btnAdd" value="Div">
                </td>
            </tr>

            <tr>
                <td>Result</td>
                <td>{{result}}</td>
           </tr>
        </table>
    </form>
</body>
</html>
-->