<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
    {% csrf_token %}
    <table border="1">     
    <tr>
        <td>FirstName</td>
        <td><input type="text" name="txtfname"></td>
       </tr>
       
       <tr>
        <td>LastName</td>
        <td><input type="text" name="txtlname"></td>
       </tr>
       

       <tr>
        <td>Gender</td>
        <td>
             <input type="radio" name="gender" value="Male">Male
             <input type="radio" name="gender" value="Female">Female
         </td>
       </tr>
       
       
       <tr>
        <td>Martial</td>
        <td>
             <input type="radio" name="mar" value="Single">Single
             <input type="radio" name="mar" value="Married">Married
         </td>
       </tr>
        
       <tr>
        <td>Salary</td>
        <td><input type="number" name="numsalary"></td>
       </tr>
       
       <tr>
        <td colspan="2" align="center">
           <input type="submit" name="btnsubmit" value="Submit">
        </td>
       </tr>

       <tr>
        <td>Name</td>
        <td>{{name}}</td>
       </tr>
       
    </table>
    </form> 
</body>
</html>

-->