{% extends 'Administrator/Header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3 align="center">User Complaint</h3>
    <table border="1" align="center" cellpadding="10">
        <tr>
            <th>Sl.No</th>
            <th>Name</th>
            <th>Complaint Title</th>
            <th>Complaint</th>
            <th>Date</th>
            <th>Action</th>
        </tr>
        {% for i in user %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.user.user_name}}</td>
            <td>{{i.complaint_title}}</td>
            <td>{{i.complaint_description}}</td>
            <td>{{i.complaint_date}}</td>
            <td><a href="{% url 'Administrator:reply' i.id %}">Reply</a></td>
        </tr>
        {% endfor %}
    
    </table>
    <h3 align="center">Hotel Complaint</h3>
    <table border="1" align="center" cellpadding="10">
        <tr>
            <th>Sl.No</th>
            <th>Name</th>
            <th>Complaint Title</th>
            <th>Complaint</th>
            <th>Date</th>
            <th>Action</th>
        </tr>
        {% for i in hotel %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.hotel.hotel_name}}</td>
            <td>{{i.complaint_title}}</td>
            <td>{{i.complaint_description}}</td>
            <td>{{i.complaint_date}}</td>
            <td><a href="{% url 'Administrator:reply' i.id %}">Reply</a></td>
        </tr>
        {% endfor %}
    
    </table>
</body>
</html>
{% endblock content %}